NEXT_PUBLIC_BACKEND_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_MARKETPLACE_URL=http://localhost:4100

NEXT_PUBLIC_OAUTH_AUTHORIZE_URL=https://oauth.unicorecms2.ru/oauth/authorize
NEXT_PUBLIC_OAUTH_CLIENT_ID=GmlMarket
NEXT_PUBLIC_OAUTH_SCOPE=profile email
